extends ../layout
block pageContent
 .p-pillier1
      .l-wrapper-1024
      .l-wrapper-1024
        .c-section-titles
          h1(data-name="h1" style="white-space:pre; color:red;") #{h1}
          h2(data-name="h2") #{h2}
        section(data-section='1')
          .c-section-content(data-element='1')
            .txt
              h4(data-name="h41") #{h41}
              p(data-name="text1") #{text1}
            .meta.abs(data-meta='1')
              img(data-name="img1", alt='', src='#{img1}')
            .meta.abs(data-meta='2')
              img(data-name="img2", alt='', src='#{img2}')
          .c-section-content(data-element='2')
            .txt
              h4(data-name="h42") #{h42}
              p(data-name="text2") #{text2}
            .col
              .meta(data-meta='1')
                img(data-name="img3", alt='', src='#{img3}')
              .meta(data-meta='2')
                img(data-name="img4", alt='', src='#{img4}')
          .c-section-content(data-element='3')
            .txt
              h4(data-name="h43") #{h43}
              p(data-name="text3") #{text3}
            .meta.abs(data-meta='1')
              p livebox_de_Marie
              p.active(data-name="text4") #{text4}
                img(data-name="img5", alt='', src='#{img5}')
              p livebox_salle_de_sport
              p.less livebox_des_Durand
        section(data-section='2')
          .c-section-banner
            h3(data-name="h44") #{h44}
          .c-section-content(data-element='1')
            .meta.abs(data-meta='1')
              img(data-name="img6", alt='', src='#{img6}')
            .table
              .txt
                h4(data-name="h45") #{h45}
                p
                  span(data-name="text5") #{text5}
                p
                  span(data-name="text6") #{text6}
                p
                  span(data-name="text7") #{text7}
                p
                  span(data-name="text8") #{text8}
              .col
                .meta.abs(data-meta='2')
                  img(data-name="img7", alt='', src='#{img7}')
          .c-section-content(data-element='2')
            .meta.abs(data-meta='1')
              img(data-name="img8", alt='', src='#{img8}')
            .txt
              h4(data-name="h45") #{h45}
              p(data-name="text9") #{text9}
            .table
              .txt
                h4(data-name="h46") #{h46}
                p(data-name="text10") #{text10}
              .col
                .meta.abs.number(data-meta='1')
                  span
                    span.counter1 0
                    | dB
                    br
                  p loremp ispum sid amet
          .c-section-content(data-element='4')
            .clearfix
              .meta.abs.video(data-meta='1')
                p video
              .txt
                h4(data-name="h47") #{h47}
                p(data-name="text11") #{text11}
            .meta.abs(data-meta='2')
              img(data-name="img9", alt='', src='#{img9}')
        section(data-section='3')
          .c-section-banner
            h3(data-name="h4") #{h4}
          .c-section-content(data-element='1')
            .table
              .col
                .meta.abs.number(data-meta='1')
                  span
                    span.counter2 3
                    | watts
                    br
                  p loremp ispum sid amet
              .txt
                h4(data-name="h4") #{h4}
                p(data-name="h4") #{h4}
                p(data-name="h4") #{h4}
        section.c-section-links
          .col
            p
              | La Nouvelle
              br
              |  Livebox
            a.btn(href='#') Commander la nouvelle Livebox
          .col
            .next
              p(data-name="h4") #{h4}
              a.btn-plus(href='') d'immersion
            .faq
              p(data-name="h4") #{h4}
              a(data-name="faq" href='#') #{faq}