extends ../layout
block pageContent
 .p-pillier1
      .l-wrapper-1024
        nav.c-section-summary
          .chapter Une box qui parle votre langue
          .chapter Un design pensé pour votre confort
          .chapter Conçue dans le respect de l'environnement
          .bar
      .l-wrapper-1024
        .c-section-titles
          h1(data-name="h1") #{h1}
          h2(data-name="h2") #{h2}
        section(data-section='1')
          .c-section-banner
            h3(data-name="h3") #{h3}
          .c-section-content(data-element='1')
            .txt
              h4(data-name="h4") #{h4}
              p(data-name="text1") #{text1}
            .meta.abs(data-meta='1')
              img(src='/img/pillier1/section1-a.png', alt='')
            .meta.abs(data-meta='2')
              img(src='/img/pillier1/section1-b.jpg', alt='')
          .c-section-content(data-element='2')
            .txt
              h4(data-name="h4") #{h4}
              p(data-name="h4") #{h4}
            .col
              .meta(data-meta='1')
                img(src='/img/pillier1/section1-c.png', alt='')
              .meta(data-meta='2')
                img(src='/img/pillier1/section1-d.jpg', alt='')
          .c-section-content(data-element='3')
            .txt
              h4(data-name="h4") #{h4}
              p(data-name="h4") #{h4}
            .meta.abs(data-meta='1')
              p livebox_de_Marie
              p.active(data-name="h4") #{h4}
                img(src='/img/icons/lock.png', alt='')
              p livebox_salle_de_sport
              p.less livebox_des_Durand
        section(data-section='2')
          .c-section-banner
            h3(data-name="h4") #{h4}
          .c-section-content(data-element='1')
            .meta.abs(data-meta='1')
              img(src='/img/pillier1/section2-a.png', alt='')
            .table
              .txt
                h4(data-name="h4") #{h4}
                p
                  span(data-name="h4") #{h4}
                p
                  span(data-name="h4") #{h4}
                p
                  span(data-name="h4") #{h4}
                p
                  span(data-name="h4") #{h4}
              .col
                .meta.abs(data-meta='2')
                  img(src='/img/pillier1/section2-b.jpg', alt='')
          .c-section-content(data-element='2')
            .meta.abs(data-meta='1')
              img(src='/img/pillier1/section2-a.png', alt='')
            .txt
              h4(data-name="h4") #{h4}
              p(data-name="h4") #{h4}
            .table
              .txt
                h4(data-name="h4") #{h4}
                p(data-name="h4") #{h4}
              .col
                .meta.abs.number(data-meta='1')
                  span
                    span.counter1 0
                    | dB
                    br
                  p loremp ispum sid amet
          .c-section-content(data-element='4')
            .clearfix
              .meta.abs.video(data-meta='1')
                p video
              .txt
                h4(data-name="h4") #{h4}
                p(data-name="h4") #{h4}
            .meta.abs(data-meta='2')
              img(src='/img/pillier1/section2-e.png', alt='')
        section(data-section='3')
          .c-section-banner
            h3(data-name="h4") #{h4}
          .c-section-content(data-element='1')
            .table
              .col
                .meta.abs.number(data-meta='1')
                  span
                    span.counter2 3
                    | watts
                    br
                  p loremp ispum sid amet
              .txt
                h4(data-name="h4") #{h4}
                p(data-name="h4") #{h4}
                p(data-name="h4") #{h4}
        section.c-section-links
          .col
            p
              | La Nouvelle
              br
              |  Livebox
            a.btn(href='#') Commander la nouvelle Livebox
          .col
            .next
              p(data-name="h4") #{h4}
              a.btn-plus(href='') d'immersion
            .faq
              p(data-name="h4") #{h4}
              a(href='#') La FAQ